<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" href="~/Content/style.min.css" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <title>SmartAssembly Web Stack Trace Decoder</title>

</head>
<body>
    <div class="all">

        <div class="top">
            <div class="header">
                <div class="headerTitle">SmartAssembly Web Stack Trace Decoder</div>
            </div>

        </div>

        <div class="bottom">

            <div class="part">
                <div class="label">Encoded Stack Trace</div>
                <div class="inputContainer">
                    <textarea id="encoded"></textarea>
                </div>
            </div>

            <div class="part">

                <div class="button" id="decodeButton">Decode ></div>

            </div>

            <div class="part">
                <div class="label">Decoded Stack Trace</div>
                <div class="inputContainer">
                    <textarea id="decoded"></textarea>
                </div>
            </div>

        </div>

    </div>

    <script src="~/Content/script.min.js"></script>

</body>
</html>
